# Grafana Datasource Configuration

apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    editable: true
    jsonData:
      timeInterval: "15s"
      queryTimeout: "60s"

  - name: Elasticsearch
    type: elasticsearch
    access: proxy
    url: http://elasticsearch:9200
    database: "healthtech-events-*"
    jsonData:
      timeField: "occurred_at"
      esVersion: "8.0.0"
      interval: Daily
      logMessageField: message
      logLevelField: level
    editable: true
